2022 Data-stats.docx
Data-stats.docx
Data-stats_styles_reference-01.docx
Data-stats_styles_reference-02.docx
garbage file.Rmd
garbage-file.docx
temp delist data quantity.png
top5_delist.png
top5_impairements.png
top5_impairements_2022_cycle.png
top5_impairements_newly_added.png
